/* Sayfaların ortaj stlilleri */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1A2B4C;
}

nav {
    background-color: #2E4057;
}

footer {
    background-color: #1E2124;
}

/* Mirasımız Sayfası için görseller için */
.section-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* İlgi Alanlarım Sayfası da kitap kartlarının stilleri */
.card-img-top {
    height: 300px;
    object-fit: contain;
    background-color: #eee;
}

.kitap-kard {
    transition: transform 0.2s;
}

.kitap-kard:hover {
    transform: scale(1.03);
}

/*Kaydırma için cssler */
/* Menü elemanlarının alt satıra geçmesini engeller */
.flex-nowrap {
    display: flex;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Kaydırma çubuğunu gizler */
.custom-scroll::-webkit-scrollbar {
    display: none;
}

.custom-scroll {
    scrollbar-width: none;
}

/* Buton yazılarını tek satırda tutar */
.text-nowrap {
    white-space: nowrap !important;
    /* yz den yardım alındı burda */
}